@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');


.clock{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    background-color:black;
    width: 50%;
    
    color: blue;
    font-family: 'Orbitron', sans-serif;
}
body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}